{% extends 'base.html' %}

{% block head %}
<title>Add New Car</title>
{% endblock %}

{% block title %}
<h1>Add New Car</h1>
{% endblock %}

{% block body %}
    <p>Fill in the following form in order to add a new car to the repository.</p>
    
    {% if message %}
        <p class="message">{{ message | safe }}</p>
    {% endif %}

    <form action="/addNewCar" method="POST">
        <label for="number">Car number: (**-***-** or ***-**-***)</label><br>
        <input type="text" name="number" />
        <br /><br />
        <label for="manufacturer">Manufacturer:</label><br>
        <select name="manufacturer">
            <option value="">Select manufacturer</option>
            <option value="Kia">Kia</option>
            <option value="Skoda">Skoda</option>
            <option value="Audi">Audi</option>
            <option value="Toyota">Toyota</option>
            <option value="Suzuki">Suzuki</option>
            <option value="Daihatsu">Daihatsu</option>
            <option value="Isuzu">Isuzu</option>
            <option value="Honda">Honda</option>
            <option value="Hyundai">Hyundai</option>
            <option value="BMW">BMW</option>
            <option value="Porche">Porche</option>
            <option value="Rolls-Royce">Rolls-Royce</option>
        </select>
        <br /><br />
        <label for="price">Price (Shekels):</label><br>
        <input type="text" name="price" />
        <br /><br />
        <label for="price per day">Price per day (Shekels):</label><br>
        <input type="text" name="price per day" />
        <br /><br />
        <input type="submit" name="add new car" value="Add car" />
    </form>

    <br/><br/>
    <form action="/returnToCarsManagement" method="POST">
        <input type="submit" name="cancel" value="Return to cars management" />
    </form>
    <form action="/returnToMain" method="POST">
        <input type="submit" name="return" value="Return to main page" />
    </form>
{% endblock %}