{% extends 'base.html' %}

{% block head %}
<title>End Car Rental</title>
{% endblock %}

{% block title %}
<h1>End Car Rental</h1>
{% endblock %}

{% block body %}
    <p>Enter the car number you would like to end its rental.</p>

    {% if message %}
        <p class="message">{{ message | safe }}</p>
    {% endif %}
    
    <form action="/endCarRental" method="POST">
        <label for="number">Car number: (**-***-** or ***-**-***)</label><br>
        <input type="text" name="number" />
        <br /><br />
        <input type="submit" name="end rental" value="End rental" />
    </form>

    <br/><br/>
    <form action="/returnToRentalManagement" method="POST">
        <input type="submit" name="cancel" value="Return to rental management" />
    </form>
    <form action="/returnToMain" method="POST">
        <input type="submit" name="return" value="Return to main page" />
    </form>
{% endblock %}