{% extends 'base.html' %}

{% block head %}
<title id="index_title">My Car Rental</title>
{% endblock %}

{% block title %}
<h1>My Car Rental</h1>
{% endblock %}

{% block body %}
    <p>Welcome to the world's best car rental!<br/>
        Here you will find the greatest variety of cars to rent, and in the most convenient
        way possible!<br />
        Feel free to check our inventory for cars availibilty and rent your car today.</p>
        
    <br />
    <form action="/submit" method="POST">
        <input type="submit" name="button" value="Cars inventory management" />
        <br /><br />
        <input type="submit" name="button" value="Rental management" />
        <br /><br />
        <input type="submit" name="button" value="Statistics" />
    </form>
{% endblock %}