{% extends 'base.html' %}

{% block head %}
<title>Rental Management</title>
{% endblock %}

{% block title %}
<h1>Rental Management</h1>
{% endblock %}

{% block body %}
    {% if message %}
        <p class="message">{{ message | safe }}</p>
    {% endif %}
    
    <form action="/rentalMenu" method="POST">
        <input type="submit" name="rentalMenu" value="Show currently rented cars" />
        <br /><br />
        <input type="submit" name="rentalMenu" value="Rent a car" />
        <br /><br />
        <input type="submit" name="rentalMenu" value="End car rental" />
    </form>

    <br/><br/>
    <form action="/returnToMain" method="POST">
        <input type="submit" name="return" value="Return to main page" />
    </form>
{% endblock %}