{% extends 'base.html' %}

{% block head %}
<title>Show Cars Inventory</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Show Cars Inventory</h1>
    
    {% if cars|length < 1 %}
        <p>Oops! There are no cars to show..</p>
    {% else %}
        <table>
            <tr>
                <th>Car number</th>
                <th>Manufacturer</th>
                <th>Price (Shekels)</th>
                <th>Price per day (Shekels)</th>
                <th>Availablity</th>
                <th>Rental date</th>
            </tr>
            {% for car in cars %}
                <tr>
                    <td>{{ car.car_number }}</td>
                    <td>{{ car.manufacturer }}</td>
                    <td>{{ car.price }}</td>
                    <td>{{ car.price_per_day }}</td>
                    <td>{{ car.is_available }}</td>
                    <td>{{ car.rental_date }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <br/><br/>
    <form action="/returnToCarsManagement" method="POST">
        <input type="submit" name="cancel" value="Return to cars management" />
    </form>
    <form action="/returnToMain" method="POST">
        <input type="submit" name="return" value="Return to main page" />
    </form>
</div>
{% endblock %}