{% extends 'base.html' %}

{% block head %}
<title>Rented Cars</title>
{% endblock %}

{% block title %}
<h1>Rented Cars</h1>
{% endblock %}

{% block body %}
    {% if rentals|length < 1 %}
        <p>Oops! There are no rented cars to show..</p>
    {% else %}
        <table class="table">
            <tr>
                <th>Customer ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Car number</th>
                <th>Rental date</th>
                <th>Rental days</th>
            </tr>
            {% for rental in rentals %}
                <tr>
                    <td>{{ rental.customer_id }}</td>
                    <td>{{ rental.customer_first_name }}</td>
                    <td>{{ rental.customer_last_name }}</td>
                    <td>{{ rental.car_number }}</td>
                    <td>{{ rental.rental_date }}</td>
                    <td>{{ (today - rental.rental_date).days }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <br/><br/>
    <form action="/returnToRentalManagement" method="POST">
        <input type="submit" name="cancel" value="Return to rental management" />
    </form>
    <form action="/returnToMain" method="POST">
        <input type="submit" name="return" value="Return to main page" />
    </form>
{% endblock %}